@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
}


.main {
  position: relative;
  width: 100%;
}

.main input {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-indent: 30px; /* Space for text */
  font-size: 16px;
  outline: none;
}

.main input::placeholder {
  color: transparent; /* Hides placeholder text */
}

.main label {
  position: absolute;
  left: 30px;
  top: 49%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  background: white;
  border-radius: 5px;
  padding: 0 5px;
  pointer-events: none;
  transition: all 0.3s ease-out;
}

.main input:focus + label,
.main input:not(:placeholder-shown) + label {
  top: -2px;
  font-size: 15px;
  color: green;
  /* border: 1px solid #aaaaaa; */
}

.main input:focus{
    border-color: green;
}

/*------------------Password css --------------------*/
.password-field label {
  position: absolute;
  left: 30px;
  top: 49%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  background: white;
  border-radius: 5px;
  padding: 0 5px;
  pointer-events: none;
  transition: all 0.3s ease-out;
}

.password-field input:focus + label,
.password-field input:not(:placeholder-shown) + label {
    top: -2px !important;
    font-size: 15px !important;
    color: green !important;
}

.relative input:focus{
    border-color: green;
}

/*++++++++++++ Last Name +++++++++++++++*/
.lname{
    position: relative;
    width: 100%;
}
.lname input{
    width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-indent: 30px; /* Space for text */
  font-size: 16px;
  outline: none;
}

.lname input::placeholder{
    color: transparent;
}

.lname span{
    position: absolute;
  left: 10px;
  top: 49%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  background: white;
  border-radius: 5px;
  padding: 0 5px;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
.lname  input:focus + span,
.lname input:not(:placeholder-shown) + span {
    top: -2px !important;
    font-size: 15px !important;
    color: green !important;
}
.lname input:focus{
    border-color: green;
}


/*++++++++++++ First Name +++++++++++++++*/
.fname{
    position: relative;
    width: 100%;
}
.fname input{
    width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-indent: 30px; /* Space for text */
  font-size: 16px;
  outline: none;
}

.fname input::placeholder{
    color: transparent;
}

.fname span{
    position: absolute;
  left: 10px;
  top: 49%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  background: white;
  border-radius: 5px;
  padding: 0 5px;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
.fname  input:focus + span,
.fname input:not(:placeholder-shown) + span {
    top: -2px !important;
    font-size: 15px !important;
    color: green !important;
}
.fname input:focus{
    border-color: green;
}


/*============ Forgot Password ==============*/
.form{
    position: relative;
    width: 100%;
}
.form input{
    width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-indent: 30px; /* Space for text */
  font-size: 16px;
  outline: none;
}

.form input::placeholder{
    color: transparent;
}

.form label{
    position: absolute;
  left: 10px;
  top: 18%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  background: white;
  border-radius: 5px;
  padding: 0 5px;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
.form  input:focus + label,
.form input:not(:placeholder-shown) + label {
    top: -2px !important;
    font-size: 15px !important;
    color: green !important;
}
.form input:focus{
    border-color: green;
}



.custom-phone-dropdown .country:hover {
  background-color: #374151; /* Dark gray hover background */
  color: #090909; /* Light text color */
}

.custom-phone-dropdown .country {
  padding: 10px;
  transition: background-color 0.2s ease;
}
