@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
}


.main {
  position: relative;
  width: 100%;
}

.main input {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-indent: 30px; /* Space for text */
  font-size: 16px;
  outline: none;
}

.main input::placeholder {
  color: transparent; /* Hides placeholder text */
}

.main label {
  position: absolute;
  left: 30px;
  top: 49%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  background: white;
  border-radius: 5px;
  padding: 0 5px;
  pointer-events: none;
  transition: all 0.3s ease-out;
}

.main input:focus + label,
.main input:not(:placeholder-shown) + label {
  top: -2px;
  font-size: 15px;
  color: green;
  /* border: 1px solid #aaaaaa; */
}

.main input:focus{
    border-color: green;
}

/*------------------Password css --------------------*/
.password-field label {
  position: absolute;
  left: 30px;
  top: 49%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  background: white;
  border-radius: 5px;
  padding: 0 5px;
  pointer-events: none;
  transition: all 0.3s ease-out;
}

.password-field input:focus + label,
.password-field input:not(:placeholder-shown) + label {
    top: -2px !important;
    font-size: 15px !important;
    color: green !important;
}

.relative input:focus{
    border-color: green;
}

/*++++++++++++ Last Name +++++++++++++++*/
.lname{
    position: relative;
    width: 100%;
}
.lname input{
    width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-indent: 30px; /* Space for text */
  font-size: 16px;
  outline: none;
}

.lname input::placeholder{
    color: transparent;
}

.lname span{
    position: absolute;
  left: 10px;
  top: 49%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  background: white;
  border-radius: 5px;
  padding: 0 5px;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
.lname  input:focus + span,
.lname input:not(:placeholder-shown) + span {
    top: -2px !important;
    font-size: 15px !important;
    color: green !important;
}
.lname input:focus{
    border-color: green;
}


/*++++++++++++ First Name +++++++++++++++*/
.fname{
    position: relative;
    width: 100%;
}
.fname input{
    width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-indent: 30px; /* Space for text */
  font-size: 16px;
  outline: none;
}

.fname input::placeholder{
    color: transparent;
}

.fname span{
    position: absolute;
  left: 10px;
  top: 49%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  background: white;
  border-radius: 5px;
  padding: 0 5px;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
.fname  input:focus + span,
.fname input:not(:placeholder-shown) + span {
    top: -2px !important;
    font-size: 15px !important;
    color: green !important;
}
.fname input:focus{
    border-color: green;
}


/*============ Forgot Password ==============*/
.form{
    position: relative;
    width: 100%;
}
.form input{
    width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-indent: 30px; /* Space for text */
  font-size: 16px;
  outline: none;
}

.form input::placeholder{
    color: transparent;
}

.form label{
    position: absolute;
  left: 10px;
  top: 18%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #aaa;
  background: white;
  border-radius: 5px;
  padding: 0 5px;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
.form  input:focus + label,
.form input:not(:placeholder-shown) + label {
    top: -2px !important;
    font-size: 15px !important;
    color: green !important;
}
.form input:focus{
    border-color: green;
}



.custom-phone-dropdown .country:hover {
  background-color: #374151; /* Dark gray hover background */
  color: #090909; /* Light text color */
}

.custom-phone-dropdown .country {
  padding: 10px;
  transition: background-color 0.2s ease;
}


/* ++++++++++++++++++ daashbnoard +++++++++++++++++++++*/
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__input-container input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.375rem; /* Tailwind rounded-md */
  background-color: transparent;
  color: #111827; /* Tailwind gray-900 */
  outline: none;
}

@media (max-width: 768px) {
  .react-datepicker__input-container input {
    width: 100%;
  }
}

.card-skeleton{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  /* border: 1px solid gray; */
  border-radius: 5px;
}

.card-skeleton .img-side{
  margin-right: 1rem;
}

.card-skeleton .details-side{
  flex: 1;
}

.card-skeleton2{
  display: flex;
  width: 80%;
  height: 100%;
  border-radius: 20px;
  padding: 1.5rem;
  /* border: 1px solid rgb(176, 172, 172); */
  border-radius: 5px;
  margin-left: 35px;
}


.card-skeleton2 .details-side{
  margin-right: 1rem;
}

.card-skeleton2 .img-side{
  flex: 1;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96%;
    --accent-foreground: 222.2 84% 4.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 84% 4.9%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 94.1%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
